html,
body
{
    font-family:  Helvetica, sans-serif;
    overflow: hidden;
}

button,
input
{
    outline: none;
}

.canvas{
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
}

.canvas__paused
{
    transition: .5s;
    opacity: .5;
}

.test
{
    position: absolute;
    width: 5%;
    background: none;
    padding:0;
    top: 10%;
    right: 5%;
    border: none;
    transition: .7s;
    cursor: pointer;
}

.test:hover
{
    transition: .7s;
    transform: scale(.8);
}

.test img
{
    width: 100%;
}

.test2{
    transition: .5s;
    display: block !important;
}

.main__container
{
    position: absolute;
    width: 40%;
    padding: 50px;
    background: #fafafa;
    top: 13%;
    left: 27%;
    border: 1px solid black;
    -webkit-box-shadow: 2px 4px 31px 12px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 4px 31px 12px rgba(0,0,0,0.43);
    box-shadow: 2px 4px 31px 12px rgba(0,0,0,0.43);
}

.not__active
{
    display: none;
}

.menu__settings
{
    position: relative;
}

.menu__settings_main :nth-child(3)
{
    padding: 10px;
}

.settings__btn
{
    background: none;
    border: none;
    transition: .7S;
    cursor: pointer;
}

.settings__btn:hover
{
    transition: .7s;
    transform: scale(.9) rotate(180deg) ;
}

.img__settings
{
    width: 50px;
}

.menu__settings_main
{
    height: 100%;
    display: none;
    position: absolute;
    left: 15%;
    top: -10%;
}

.menu__settings_main button
{
    width: 60%;
    height: 100%;
    background: none;
    text-transform: uppercase;
    border: 1px solid #2e2e2e;
    font-weight: 600;
    cursor: pointer;
}

.menu__settings_main button:nth-child(1)
{
    background: #fafafa;
    color: #2e2e2e;
}

.menu__settings_main button:nth-child(2)
{
    background: #2e2e2e;
    color: #fafafa;
}

.menu__settings_main button img
{
    width: 100%;
    height: 100%;
}

.active
{
    display:  flex;
    height: 100%;
}

.settings__open
{
    display: block;
    animation: animationSettings 5s ease-in-out ; 
}
.settings__closed
{
    display: none;
    animation: animationSettingsClosed 5s ease-in-out ; 
}

@keyframes animationSettings
{
    0%{width: 0%; }
    100%{width: 100%;}
}
@keyframes animationSettingsClosed
{
    0%{width: 100%; }
    100%{width: 0;}
}

.menu__title
{
    text-align: center;
    font-size: 2em;
    color: #2e2e2e;
}

.menu__connection
{
    text-align: center;
    font-size: 1.3em;
    margin: 30px;
}

form
{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit
{
    width: 50%;
    height: 30px;
    margin: 15px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #2e2e2e;
    font-size: 1.5em;
}

.form__play
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .7s;
}

.form__play img
{
    width: 35px;
    left: 40%;
    position: absolute;
}

.form__play :nth-child(1)
{
    width: 100px;
    height: 100px;
    margin: 15px;
    padding: 20px;
    background: #27ae60;
    border-radius: 50%;
    cursor: pointer;
    /* border: 1px solid #2e2e2e; */
}

.form__play:hover
{
    transition: .7s;
    transform: scale(.9);
}

.menu__tuto
{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    opacity: .8;
}


.menu__win
{
    display: none;
    width: 20%;
    padding: 50px;
    background: #fafafa;
    border: 1px solid #2e2e2e;
    position: absolute;
    top: 25%;
    left: 36%;
    text-align: center;
}

.win__main
{
    width: 100%;
    position: relative;
}

.win__replay{
    width: 50%;
    position: absolute;
    background: #27ae60;
    top: 86%;
    left: 20%;
    padding: 5%;
    border-radius: 25px;
    color: #fafafa;
    border: 1px solid #2e2e2e;
    transition: .7s;
    cursor:pointer;
}

.win__replay:hover
{
    transition: .7s;
    transform: scale(.9) ;   
}

.pause__title
{
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #2e2e2e;
}

.pause__button
{
    width: 100%;
    padding-top: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: .7s;
}

.pause__button:hover
{
    transition: .7s;
    transform: scale(.8);
}

.pause__style-button
{
    width: 40%;
    padding: 15px;
    border-radius: 30px;
    color: #fafafa;
    text-align: center; 
    transition: .7s;
    cursor: pointer;
}

.pause__style-button:hover
{
    transition: .7s;
    transform: scale(.9) ;   
}


.pause__restart
{
    background: #2e2e2e;
}

.pause__home
{
    background: #27ae60;
}